body{
    background-color:rgb(42, 42, 42) ;
}
table{
    border-color:  rgb(42, 42, 42);
    background-color: rgb(42, 42, 42);
    color: aliceblue;
    border-color:  rgb(42, 42, 42);

}
#Titulo{
    margin-top: -15px;
}

img{
    transition: 0.4s;
}
td{
    width: 10%;
}
img:hover{
    transform: scale(0.9);
}
#A:hover{
    color: rgb(152, 152, 152);
}
footer{
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 10px;
    bottom: -1;
    background-color: rgb(41, 41, 41);
    font-size: larger;
}


